header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav {
    display: flex;
    align-content: end;
    gap: 20px;
    text-decoration: none;
}
h1{
   font-family: "Sekuya", system-ui;
   font-size: 30px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.image {
    width: 50%;
    height: auto;
}
.flex{
    display: flex;

}
.hero{
    background-color: #345013;
    color: #FFFFFF;
}
.button1{
    color: white;
    padding: 10px 20px;
    background: orange;
    border-radius: 20px;
    text-decoration: none;
    gap: 20px;
}
.button2{
    color: orange;
    padding: 10px 20px;
    background: white;
    border-radius: 20px;
    text-decoration: none;
}
.ctre{
    align-content: center;
    margin: 100px;
    max-width: 800px;
    display: inline;
}
ul{
    list-style-image: none;
}
section{
    max-width: 1200px;
    margin: auto;
    flex-direction: column;
}
.ctre2{
    align-content: center;
}
.promesses-ctre{
    text-align: center;
    
}
.promesses-content{
    display: flex;
    align-items: center;
    gap: 40px;
}
.promesses-img{
    width: 50%;
    height: auto;
    margin: auto;
}
.promesses-list{
    list-style: none;
    padding: 0px;
}

.promesses-list li{
    margin-bottom: 15px;
}
.promesses{
    background-color: #345013;
    color: #FFFFFF;
}

article{
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: auto;
    width: 250px;
    align-content: center;
    gap: 16px;
    display: flex;
    flex-direction: column;
}
.moi{
    display: flex;
    gap: 60px;
    flex-direction: row;
}
h3{
    font-size: 30px;
    font-family: "DM Sans", sans-serif;
    color: #FFFFFF;
}
h2{
    text-align: center;
    color: #FFFFFF;
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
}
a{
    text-decoration: none;
}
.app{
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 40px;
}
.contemporaine{
    display: flex;
    justify-content: end;
}
.avis{
    display: flex;
    padding: 10px;
    background-color: #5C5C5C;
    margin: 20px;
    gap: 60px;
    border: 20px;
    justify-content: center;
    align-items: center;
    color: #EDEDED;
}
.formulaire{
    display: flex;
    padding: 60px;
    background-color: gainsboro;
    margin: 20px;
    gap: 60px;
    border: 20px;
    justify-content: center;
    align-items: center;
    color: #1b1a1a;
}
body{
    background-color: #345013;
}
